﻿@model List<GestionReparacion.CapaDominio.Entidades.Componente>

@{
    ViewBag.Title = "BuscarComponentes";
}

<div class="container margin-nav">
    <div class="text-center">
        <h2 class="section-heading text-uppercase"> Buscar Componentes </h2>
        <h4 class="section-subheading text-muted contain-text py-3">
            <i>
                Acá puedes escoger entre una gran variedad de componentes para tu equipo,
                los que selecciones se añadirán a tu pedido. &nbsp;
            </i> 😉
        </h4>
    </div>

    <form action="/PedidoComponente/BuscarComponentes" method="post">
        <div class="py-xl-5 row">
            <div class="btn-group btn-group-toggle col-sm-6" data-toggle="buttons">
                <label class="btn btn-lg btn-success active">
                    <input type="radio" name="categoria" value="Escritorio"
                           autocomplete="off"> Escritorio &nbsp; 🖥
                </label>
                <label class="btn btn-lg btn-success">
                    <input type="radio" name="categoria" value="Laptop"
                           autocomplete="off"> Laptop &nbsp; 💻
                </label>
                <label class="btn btn-lg btn-success">
                    <input type="radio" name="categoria" value="Movil"
                           autocomplete="off"> Movil &nbsp; 📱
                </label>
            </div>

            <button type="submit" class="btn btn-lg btn-info col-sm-4 ml-auto">
                Buscar Componente &nbsp; 🔎
            </button>
        </div>
    </form>

    <div class="table-responsive">
        <span class="counter pull-right"></span>

        @{ if (Model != null && Model.Count != 0)
            {
                <div id="tabla" class="my-xl-5">
                    <table id="info" style="margin:auto" width="100%" cellspacing="0" class="table table-bordered table-dark" lang="es">
                        <thead>
                            <tr align="center">
                                <th> Nombre </th>
                                <th> Precio </th>
                                <th> Tipo </th>
                                <th> Stock </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @item.NombreComponente</td>
                                        <td align="center"> @item.Precio </td>
                                        <td align="center"> @item.Tipo </td>
                                        <td align="center"> @item.Stock </td>

                                        <td align="center" class="">
                                            <button class="btn btn-outline-success" value="create"
                                                    onclick="agregarCantidad(@item.IdComponente)">
                                                Agregar &nbsp; ➕
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="centrar" align="center">
                    <button class="btn btn-warning my-4 btn-lg" type="submit"
                        onclick="location.href='@Url.Action("ListarPedido", "PedidoComponente")'">
                        Ver Pedido &nbsp; 🛒
                    </button>
                </div>
            }
        }

    </div>

</div>



@section scripts
    {

    <script>

        function agregarCantidad(componete)
        {
            var cantidad_ = parseInt(prompt("Ingrese La Cantidad : "));            

            var error = "¡UPS!, La cantidad ingresada no es válida. ";

            if (cantidad_ == undefined || isNaN(cantidad_)) alert(error);

            if (cantidad_ == null || cantidad_ == "" ) alert(error);

            if (cantidad_ < 0) alert(error);

            $.ajax({
                type: "Get",
                url: "/PedidoComponente/AgregarComponentes",
                data: { cantidad: cantidad_, componenteId: componete},
                contentType: "application/json; charset=utf8",
                dataType: "json",
                success: function (respuesta, mensaje) {
                    alert(respuesta.mensaje);
                    },
                    error: function(xhr, ajaxOptions, thrownError) {

                    }
            })
        }

    </script>

}