﻿@model List<GestionReparacion.CapaDominio.Entidades.PedidoComponente>

@{
    ViewBag.Title = "ListarPedido";
}

<div class="container margin-nav">
    <div class="text-center">
        <h2 class="section-heading text-uppercase"> Lista de Pedidos </h2>
        <h4 class="section-subheading text-muted contain-text py-3">
            <i>
                Acá se encuentran todos los componentes que acabas de agregar a tu lista &nbsp;
            </i> 😬
        </h4>
    </div>

    <div class="table-responsive">
        <span class="counter pull-right"></span>

        @{ if (Model != null && Model.Count != 0)
            {
                <div id="tabla" class="my-xl-5">
                    <table id="info" style="margin:auto" width="100%" cellspacing="0" class="table table-bordered table-dark" lang="es">
                        <thead>
                            <tr align="center">
                                <th> Nombre </th>
                                <th> Precio </th>
                                <th> Cantidad Adquirida </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @item.Componente.NombreComponente</td>
                                        <td align="center"> @item.Componente.Precio </td>
                                        <td align="center"> @item.CantidadComponentes </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="centrar row " align="center">

                    <div class="alert alert-warning" role="alert">
                        El costo total es de : <label id="costoTotal" class="alert-link">
                            @ViewBag.CostoComponentes</label> &nbsp; 💰
                    </div>

                    <div class="custom-control custom-checkbox ml-auto my-2">
                        <input type="checkbox" class="custom-control-input" id="ensamblar">
                        <label class="custom-control-label" for="ensamblar">  &nbsp; Agregar servicio de ensamblado </label>
                    </div>

                </div>

                <div class="centrar my-xl-5">
                    <button class="btn btn-warning my-4 btn-lg" type="submit"
                            onclick="location.href='@Url.Action("PagarComponente", "PedidoComponente")'">
                        Pagar &nbsp; 💲
                    </button>
                </div>
            }
        }

    </div>

</div>



@section scripts
    {

    <script>

        $(document).on('change', '#ensamblar', function (e) {

            var ensamblar;

            if (this.checked) ensamblar = true;
            else ensamblar = false;

            $.ajax({
                type: "Get",
                url: "/PedidoComponente/AgregarEnsamblado",
                data: { ensamblado: ensamblar },
                contentType: "application/json; charset=utf8",
                dataType: "json",
                success: function (respuesta, mensaje, costo) {

                    //alert(respuesta.mensaje);
                    document.getElementById('costoTotal').innerHTML = respuesta.costo;

                }
            })
        });


    </script>

}