﻿@model GestionReparacion.CapaDominio.Entidades.Venta

@{
    ViewBag.Title = "ListarPedido";
}

    <div class="container margin-nav">
        <div class="text-center">
            <h2 class="section-heading text-uppercase"> Se hizo el pago correctamente ✔  </h2>
            <h4 class="section-subheading text-muted contain-text py-3">
                <i>
                    Acá tienes un informe detallado de lo que adquiriste &nbsp;
                </i> 📃
            </h4>
        </div>

        <div class="card text-white bg-warning col-sm-12 my-lg-5">
            <div class="card-header" align="center"> <h4> <strong> Total a Pagar </strong> </h4>  </div>
            <div class="card-body">

                @{
                    foreach (var item in Model.ListaPedidoComponentes)
                    {
                        <div class="row">
                            <h5 class="col-sm-9 my-2">
                                🔘
                                &nbsp;&nbsp; @item.Componente.NombreComponente
                            </h5>
                            <h5 class="ml-auto"> @item.calcularCostoTotal() S/ </h5>
                        </div>

                    }
                }

                <hr>

                <div class="row">
                    <h4 class="col-sm-9">
                        🔴
                        &nbsp;&nbsp;Costo de Ensamblaje

                    </h4>
                    <h4 class="ml-auto"> @ViewBag.CostoEnsamblaje S/</h4>
                </div>
                <hr>
                <div class="row py-3">
                    <h3 class="col-sm-9">
                        🔵
                        <strong>
                            &nbsp;&nbsp; Costo Total
                        </strong>
                    </h3>
                    <h3> @ViewBag.CostoTotal &nbsp; S/</h3>
                </div>

            </div>
        </div>




        <!--div class="alert alert-warning py-xl-5" role="alert">
    El costo total a pagar es de : <label id="costoTotal" class="alert-link">
    @ViewBag.CostoTotal
        </label> &nbsp; 💰
            </div-->
        <!--div class="custom-control custom-checkbox my-5 centrar">
        <input type="checkbox" class="custom-control-input" id="ensamblar">
        <label class="custom-control-label" for="ensamblar">  &nbsp; Agregar servicio de ensamblado </label>
    </!--div-->

        <div class="centrar my-xl-5">
            <button class="btn btn-info my-4 btn-lg" type="submit"
                    onclick="location.href='@Url.Action( "BuscarComponentes", "PedidoComponente")'">
                
                Ir a Inicio &nbsp; ➡
            </button>
        </div>
    </div>





@section scripts
    {

    <script>

        $(document).on('change', '#ensamblar', function (e) {

            var ensamblar;

            if (this.checked) ensamblar = true;
            else ensamblar = false;

            $.ajax({
                type: "Get",
                url: "/PedidoComponente/AgregarEnsamblado",
                data: { ensamblado: ensamblar },
                contentType: "application/json; charset=utf8",
                dataType: "json",
                success: function (respuesta, mensaje, costo) {

                    //alert(respuesta.mensaje);
                    document.getElementById('costoTotal').innerHTML = respuesta.costo;

                }
            })
        });


    </script>

}
