﻿@model List<GestionReparacion.CapaDominio.Entidades.PedidoComponente>

@{
    ViewBag.Title = "ListarPedido";
}

<div class="container margin-nav">
    <div class="text-center">
        <h2 class="section-heading text-uppercase"> Pagar Componentes </h2>
        <h4 class="section-subheading text-muted contain-text py-3">
            <i>
                Puede realizar el pago con su tarjeta de crédito, ni bien realice
                el pago nosotros efectuaremos el envío inmediatamente &nbsp;
            </i> 💳
        </h4>
    </div>

    <form action="/PedidoComponente/GuardarPedido" method="post">
        <div class="row py-xl-5">
            <div class="card text-white bg-success mb-3 col-sm-5 ml-xl-5">
                <div class="card-header" align="center"> <h4> <strong> Total a Pagar </strong> </h4>  </div>
                <div class="card-body">
                    <div class="row">
                        <h5 class="col-sm-9">
                            Costo de Componentes &nbsp;&nbsp;
                            <i class="fas fa-caret-square-right"></i>
                        </h5>
                        <h5 class="ml-auto"> @ViewBag.CostoComponentes /S </h5>
                    </div>
                    <div class="row">
                        <h5 class="col-sm-9">
                            Costo de Ensamblaje &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-caret-square-right"></i>
                        </h5>
                        <h5 class="ml-auto"> @ViewBag.CostoEnsamblaje /S </h5>
                    </div>
                    <hr>
                    <div class="row py-3">
                        <h4 class="col-sm-8">
                            <strong>
                                Costo Total &nbsp;&nbsp;&nbsp;
                            </strong><i class="fas fa-caret-square-right"></i>
                        </h4>
                        <h4> @ViewBag.CostoTotal &nbsp; /S </h4>
                    </div>
                </div>
            </div>

            <div class="card text-white bg-danger mb-3 col-sm-5 ml-xl-5" align="center">
                <div class="card-header"> <h4> <strong> Datos de su Tarjeta </strong> </h4>  </div>
                <div class="card-body">
                    <div class="input-group col-sm-11 py-3" style="transform:scale(1.2)">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fab fa-cc-visa"></i> </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Numero de Tarjeta" 
                                onkeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;"
                                maxlength="16" required="" pattern=".{16,16}" name="numTarjeta">
                    </div>
                    <div class="input-group col-sm-11 py-3" style="transform:scale(1.2)">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-credit-card"></i> </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Codigo Secreto de Tarjeta de Credito" 
                                onkeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;"
                                maxlength="3" required="" pattern=".{3,3}" name="numCsc">
                    </div>
                </div>
            </div>


            <!--div class="alert alert-warning py-xl-5" role="alert">
        El costo total a pagar es de : <label id="costoTotal" class="alert-link">
        @ViewBag.CostoTotal
            </label> &nbsp; 💰
                </div-->

            <!--div class="custom-control custom-checkbox my-5 centrar">
                <input type="checkbox" class="custom-control-input" id="ensamblar">
                <label class="custom-control-label" for="ensamblar">  &nbsp; Agregar servicio de ensamblado </label>
            </!--div-->

            <div class="centrar my-xl-5">
                <button class="btn btn-warning my-4 btn-lg" type="submit">
                    Pagar &nbsp; 💲
                </button>
            </div>
        </div>
    </form>
</div>



@section scripts
    {

    <script>

        $(document).on('change', '#ensamblar', function (e) {

            var ensamblar;

            if (this.checked) ensamblar = true;
            else ensamblar = false;

            $.ajax({
                type: "Get",
                url: "/PedidoComponente/AgregarEnsamblado",
                data: { ensamblado: ensamblar },
                contentType: "application/json; charset=utf8",
                dataType: "json",
                success: function (respuesta, mensaje, costo) {

                    //alert(respuesta.mensaje);
                    document.getElementById('costoTotal').innerHTML = respuesta.costo;

                }
            })
        });


    </script>

}
