﻿<!-- Contact-->


<section class="page-section-2 dark-yake" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Contactanos</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">Para saber mas de nosotros aca tienes algunas referencias</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+51 989898989</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <a class="d-block" href="mailto:gruporedes2019@gmail.com">gruporedes2019@gmail.com</a>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="bg-dark dark-yake py-5">
    <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Equipo 01</div></div>
</footer>
