﻿<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-2" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/home"><h5> Ensamblaje SAC </h5></a>
        <button id="btnTogle" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" 
                    aria-label="Toggle navigation"><i class="fas ic-2 fa-stream text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">¿Que hacemos?</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Servicios</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Logros</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contactanos</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       title="Iniciar Sesion">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/PedidoComponente/Login">
                            Inciar Sesion como Cliente &nbsp;
                            <i class="fas fa-user-check"></i>
                        </a>
                        
                        <a class="dropdown-item" href="#">
                            Lista de Componentes &nbsp;
                            <i class="fas fa-th-list"></i>
                        </a>

                        <a class="dropdown-item" href="/MenuServicioEnsamblaje/Login">
                            Inciar Sesion Como Empleado &nbsp;
                            <i class="fas fa-users-cog"></i>
                        </a>

                        <!--a class="dropdown-item" href="#">
        Registrate &nbsp;
        <i class="fas fa-user-plus"></i>
    </a-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>