﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">¡NO TE PREOCUPES MAS!</h1>
                    <hr class="divider my-8" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">Si tienes problemas con algun dispositivo electronico, o
                                                                    necesitas arreglar uno, estamos aqui para poder solucionarlo</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Sobre Nosotros</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Somos una empresa reconocida mundialmente</h2>
                    <hr class="divider light my-4" />
                    <p class="text-white-65 mb-4">Arreglamos cualquier tipo dispositivo electronico, podemos ir a recoger a tu domicilio, o
                                                  puedes traer a nuestras oficinas, nos mas mantendremos en contacto contigo mientras 
                                                  arreglamos tu dispositivo, en cuanto terminaremos te avisamos y te lo enviamos</p>
                    <br>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Servicios</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section dark-yake" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Nuestros Servicios</h2>
            <hr class="divider my-4" />
            <div class="row">

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-ambulance text-success mb-4"></i>
                        <h3 class="h4 mb-2">Mi equipo esta malogrado</h3>
                        <p class="text-muted mb-0">
                            No te preocupes, aca puedes especificar los problemas de tu equipo
                            y los posibles componentes que puedas cambiar
                            
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        
                        <a class="none" onclick="location.href='@Url.Action("BuscarComponentes", "PedidoComponente")'">
                            <i class="fas ic-4 fa-laptop-house text-success mb-4"></i>
                            <h3 class="h4 mb-2">Realiza tu pedido</h3>
                            <p class="text-muted mb-0">
                                Realiza tu pedido, podres escoger los componentes para tu equipo y realizar
                                el pago aqui mismo
                            </p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <a class="none" href="#">
                            <i class="fas ic-4 fa-laptop-medical text-success mb-4"></i>
                            <h3 class="h4 mb-2">Ver estado de tu equipo</h3>
                            <p class="text-muted mb-0">
                                Aca puedes ver el estado actual de tu equipo, y verificar
                                si ya fue reparado
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio-->
    <section id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href=@Url.Content("~/Content/assets/img/portfolio/fullsize/1.jpg")>
                        <img class="img-fluid" src=@Url.Content("~/Content/assets/img/portfolio/thumbnails/1.jpg") alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">PC</div>
                            <div class="project-name">PC gaming Intel</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href=@Url.Content("~/Content/assets/img/portfolio/fullsize/2.jpg")>
                        <img class="img-fluid" src=@Url.Content("~/Content/assets/img/portfolio/thumbnails/2.jpg") alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Laptops</div>
                            <div class="project-name">Laptop samsung arreglada</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href=@Url.Content("~/Content/assets/img/portfolio/fullsize/3.jpg")>
                        <img class="img-fluid" src=@Url.Content("~/Content/assets/img/portfolio/thumbnails/3.jpg") alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Impresoras</div>
                            <div class="project-name">Impresora Canon Arreglada</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href=@Url.Content("~/Content/assets/img/portfolio/fullsize/4.jpg")>
                        <img class="img-fluid" src=@Url.Content("~/Content/assets/img/portfolio/thumbnails/4.jpg") alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Laptops</div>
                            <div class="project-name">Laptop Acer Arreglada</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href=@Url.Content("~/Content/assets/img/portfolio/fullsize/5.jpg")>
                        <img class="img-fluid" src=@Url.Content("~/Content/assets/img/portfolio/thumbnails/5.jpg") alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Laptops</div>
                            <div class="project-name">Laptop Lenovo Arreglada</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href=@Url.Content("~/Content/assets/img/portfolio/fullsize/6.jpg")>
                        <img class="img-fluid" src=@Url.Content("~/Content/assets/img/portfolio/thumbnails/6.jpg") alt="" />
                        <div class="portfolio-box-caption ">
                            <div class="project-category text-white-50">Impresoras</div>
                            <div class="project-name">Impresora HP arreglada</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to action 
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
            <a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Download Now!</a>
        </div>
    </section>-->
</div>