﻿@model string

<title>Login Page</title>
@if (@Model != "" && @Model != null)
{

    <div class="alert alert-danger alert-dismissible fade show col-sm-8 centrar" role="alert" 
         style="position:absolute; margin-top:80px">
        <strong>@Model</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<header class="masthead login-head">
    <div class="container h-100" style="margin-top:210px; margin-bottom:300px; transform:scale(1.2)">
        <div class="d-flex justify-content-center h-500">
            <div class="card card-login">
                <div class="card-header text-center">
                    <h3>Empleado 👨🏻‍💻 </h3>
                </div>
                <hr style="background-color:darkgrey">
                <div class="card-body">
                    <form action="/MenuServicioEnsamblaje/Login" method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="dni" class="form-control" placeholder="DNI" minlength="8" maxlength="8" onkeypress="return soloNumeros(event)" required>
                        </div>
                        <div class="form-group centrar" style="margin-top:40px">
                            <input type="submit" value="Login" class="btn btn-outline-light">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

@section scripts
    {

    <script>
        function soloNumeros(e) {
            var key = window.Event ? e.which : e.keyCode;
            if (key >= 48 && key <= 57 || key == 8 || key == 0) {
                return true;
            } else {
                return false;
            }
        }

    </script>
}