﻿@model List<GestionReparacion.CapaDominio.Entidades.Venta>
@{
    ViewBag.Title = "Venta";
}

@if (@Model.Count() > 0)
{
    <div>
        <div>
            <table class="table table-dark margin-nav">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col"></th>
                        <th scope="col">Cambiar estado</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var venta in Model)
                        {
                            <tr>
                                <th>@venta.Fecha.ToShortDateString()</th>
                                <th class="dropdown">
                                    <div id="idRow" data-toggle="dropdown"><u style="cursor:pointer;">Ver detalle</u></div>
                                    <div class="dropdown-menu" aria-labelledby="idRow">
                                        <table class="">
                                            <thead>
                                                <tr class="text-white-75 text-center">
                                                    <th scope="col"> <h5> Componente </h5> </th>
                                                    <th scope="col"> <h5> Cantidad </h5> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var pedidoComponente in venta.ListaPedidoComponentes)
                                                    {
                                                        <tr>
                                                            <td class="text-white">@pedidoComponente.Componente.NombreComponente</td>
                                                            <td class="text-white" align="center">@pedidoComponente.CantidadComponentes</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </th>
                                <th>
                                    <form action="/MenuServicioEnsamblaje/ActualizarServicioEnsamblajeVenta" method="post">
                                        <input type="hidden" value="@venta.Id" name="id_venta" />
                                        @if (venta.estaElPlazoVencido())
                                        {
                                            <button type="submit" class="btn btn-danger" onclick="mostrarMensajeDeConfirmacion()">Ensamblaje vencido</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-info" onclick="mostrarMensajeDeConfirmacion()">Ensamblaje terminado</button>
                                        }
                                    </form>
                                </th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <h1 class="margin-nav text-center">No tienes servicios de ensamblajes asignados</h1>
}


@section scripts
    {

    <script>

        function mostrarMensajeDeConfirmacion() {
            alert("Ensamblaje realizado");
        }

    </script>
}